@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scrollbar-gutter: stable;
}
.swiper-button-next,
.swiper-button-prev {
    color: #4438ca !important;
}

.swiper-pagination-bullet-active {
    background: #4438ca !important;
}

.swiper {
    padding: 20px 0 40px 0 !important;
}

.swiper-slide {
    background: #f8f8f8;
    border-radius: 8px;
}